* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #999;
  box-sizing: border-box;
}
