header {
  height: 95vh;
  background-image: url(/images/the_one_ring_lotr.jpg),
    linear-gradient(to right, $primary-black, $primary-black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: right top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
