.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $background-light-color;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem black;
    text-align: center;
    cursor: pointer;
  }
  &__background {
    position: fixed;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $section-dark-color,
      $section-light-color
    );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    // transform: scale(80);
  }
  &__nav {
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__list {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3.5rem;
      font-weight: 300;
      color: $background-light-color;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 50%, white 50%);
      background-size: 240%;
      transition: all ease 0.4s;
      span {
        margin-right: 2rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $primary-color;
      transform: translateX(-1rem);
    }
    // FUNCTİONALİTY
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
  // İCON
  &__icon {
    margin-top: 3.5rem;
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
