.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 1rem;
    position: relative;
    animation: moveInBottom 1s ease-out;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem $section-dark-color;
    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem $section-dark-color;
  }

  &--gold {
    background-color: $primary-color;
    color: $primary-black;
    &::after {
      background-color: $primary-color;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    color: $primary-color;
    font-size: 2rem;
    border-bottom: 1px solid $primary-color;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $primary-color;
    color: $background-light-color;
    box-shadow: 0 2rem 2rem rgba($color: $primary-black, $alpha: 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color: $primary-black, $alpha: 0.15);
    transform: translateY(0px);
  }
}
