.row-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 13rem;

  .card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 60rem;
    width: 40rem;

    .card__side {
      height: 60rem;
      overflow: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgb(18 18 18 / 15%);
      transition: all 0.6s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 1.5rem 4rem rgba($color: $primary-black, $alpha: 0.15);
      backface-visibility: hidden;

      &--front {
        background-color: $background-light-color;

        .card__picture {
          background-size: cover;
          height: 30rem;
          background-blend-mode: screen;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          &--1 {
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
              url(/images/Samwise.jpg);
          }
          &--2 {
            background-image: linear-gradient(to right bottom, #e8c15f, #ae8319),
              url(/images/frodo.jpg);
          }
          &--3 {
            background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
              url(/images/baggins.jpg);
          }
        }
        &:hover &__side--front {
          transform: rotateY(180deg);
        }
        &:hover &__side--back {
          transform: rotateY(0);
        }
        .card__heading {
          font-size: 3rem;
          text-align: center;
          font-weight: 700;
          padding: 1rem 0;
        }
        .card__details {
          font-size: 1.75rem;
          text-align: center;
          padding: 2rem 1rem;
        }
      }

      &--back {
        transform: rotateY(180deg);

        &-1 {
          background-image: linear-gradient(
            to right bottom,
            $color-secondary-light,
            $color-secondary-dark
          );
        }
        &-2 {
          background-image: linear-gradient(to right bottom, #e8c15f, #ae8319);
        }
        &-3 {
          background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
        }
      }
    }

    &:hover .card__side--front {
      transform: rotateY(-180deg);
    }
    &:hover .card__side--back {
      transform: rotateY(0);
    }

    // back styling

    &__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__price-box {
      text-align: center;
      color: $background-light-color;
      margin-bottom: 8rem;
    }
    &__price-only {
      margin-bottom: 3rem;
      font-size: 2rem;
      text-transform: uppercase;
    }
    &__price-value {
      font-size: 6rem;
      font-weight: 100;
      align-items: center;
    }
  }
}
