.feature-box {
  background-color: rgba($color: $background-light-color, $alpha: 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color: $primary-black, $alpha: 0.15);
  transition: transform 0.3s;

  &__icon {
    margin-bottom: 1rem;
    display: block;
    font-size: 6rem;
    background-image: linear-gradient(to right, #e8c15f, #ae8319);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
  &__text {
  }
}
