.row-div {
  width: auto;
  height: auto;
  margin-top: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    // min-width: 40rem; try again and search agam!
    width: 50%;
    height: auto;
    padding: 0 30px 40px 0;
    margin-right: 15rem;
    gap: 4rem;

    .paragraph {
      font-size: 2rem;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    margin-right: 3rem;
    img {
      width: 70%;
      height: 60%;
      transition: all 0.2s;

      &:hover {
        outline: 1.5rem solid $primary-color;
        transform: scale(1.1);
        box-shadow: 0 2.5rem 4rem rgba($color: $primary-black, $alpha: 0.4);
      }
    }
  }
}
.row-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
