.u-center-text {
  text-align: center;
}
.u-margin-bottom-8 {
  margin-bottom: 8rem;
}
.u-margin-bottom-small {
  margin-bottom: 1rem;
}
.offers-header {
  margin-top: 5rem;
}
.btn-white {
  background-color: white;
  color: gray;
  &::after {
    background-color: white;
  }
}
