$primary-color: goldenrod;
$section-dark-color: #ae8319;
$section-light-color: #e8c15f;
$background-light-color: white;
$background-dark-color: #f7f7f7;
$header-text-color: linear-gradient(to right, #e8c15f, #ae8319);
$primary-black: black;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-secondary-light-3: #2998ff;

$default-font-size: 1.6rem;
