// colors

$primary-color: goldenrod;
$section-dark-color: #ae8319;
$section-light-color: #e8c15f;
$background-light-color: white;
$background-dark-color: #f7f7f7;
$header-text-color: linear-gradient(to right, #e8c15f, #ae8319);
$primary-black: black;
